<!DOCTYPE html>
<html lang="en">
<head>
      <meta charset="UTF-8">
      <meta name="viewport" content="width=device-width, initial-scale=1.0">
      <title>Registro Piza</title>
</head>
<body>
  <form action="" method="POST" class="form">
        <div class="box-form">
           <input type="text" name="name" placeholder="Nombres">
           <input type="text" name="apellidos" placeholder="Apellidos"> 
        </div>

        <div class="box-form">
           <input type="tel" name="celular" placeholder="Celular" maxlength="9" required>
           <label for="departamento"> Departamento</label>
          <select name="departamento" id="departamento" required>
         </select>
        </div>
  </form>
      
</body>
</html>